body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 2px solid #555;
  }
  
  
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  
  section {
    padding: 2em;
    text-align: center;
  }
  
  section h2 {
    color: #333;
  }
  
  section p {
    color: #555;
  }
  
  section img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  